@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Archivo:100,200,400,500,600,700,800,900");

// debug
// *{
//   box-sizing: border-box;
//   background-color: rgb(0 100 0 / 0.05) !important;
// }
$lime-color: #bef66b;
$gray-color: #292d32;
$light-gray-color: #cccccc;

// global styles
body {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  font-family: Archivo, sans-serif;
}
a,
img,
svg,
button {
  transition: all 0.4s;
}
// media and diff screens and stuff
@media (min-width: 768px) {
  i {
    font-size: 24px;
  }
}
// global classes
a.active {
  color: $light-gray-color;
}
.lime-line {
  width: 100%;
  background-color: $lime-color;
  height: 1px;
  border-radius: 10%;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  &:hover .lime-button {
    background: #000;
    color: white;
  }
  .lime-button {
    border-radius: 50%;
    background: $lime-color;
    width: fit-content;
    right: 10px;
    bottom: 10px;
    position: absolute;
    z-index: 69;
    color: black;
    padding: 6px;
  }
}
.text-outline {
  -webkit-text-stroke-color: rgb(255, 255, 255) !important;
  -webkit-text-stroke-width: 1px !important;
  color: transparent !important;
}
// pages styles
